.container{
    display: flex;
    height: 75px;
    background-color: rgb(5, 5, 77);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    color:white;  
    position: fixed;
    width: 100vw;
   
}
.container ul{
    display: flex;
    list-style: none;
    justify-items: center;
}
.container :last-child{
    padding-right: 10px;
     justify-items: center;
}
.container :first-child{
    padding-left: 10px;
     justify-items: center;
}
.container li{
    padding-left: 10px;
}